{% load mezzanine_tags i18n %}
<form action="{% url "search" %}" class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search">
    <div class="form-group">
        <div class="input-group">
                    <span class="input-group-btn">
              <button type="submit" class="btn btn-sm bg-white btn-icon rounded"><i class="fa fa-search"></i></button>
            </span>
            <input class="form-control input-sm no-border rounded" placeholder="{% trans "查找 图书 作者..." %}"
                   type="text"
                   name="q"
                   value="{{ request.REQUEST.q }}">
        </div>
    </div>
</form>
