<html lang="en"
      class="app js no-touch no-android chrome no-firefox no-iemobile no-ie no-ie8 no-ie10 no-ie11 no-ios no-ios7 ipad">

{% load pages_tags mezzanine_tags i18n staticfiles myfilters %}
{% include  "layout/header_style.html" %}
<body class="">
<section class="vbox">
    {% block header %}
        {% include  "layout/header.html" %}
    {% endblock %}
    <section>
        <section class="hbox stretch">
            <!-- .aside -->
            {% block left_panel %}
                {% my_page_menu "layout/menus/tree.html" %}
            {% endblock %}
            <!-- /.aside -->
            <section id="content">
                <section class="hbox stretch">
                    <section>
                        <section class="vbox">
                            <section class="scrollable padder-lg w-f-md" id="bjax-target">
                                {% include "layout/title.html" %}
                                {% block main %}{% endblock %}
                            </section>
                            {% include "layout/footer.html" %}
                        </section>
                    </section>
                    <!-- side content -->
                    {% block sidecontent %}
                    {% endblock %}
                    <!-- / side content -->
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open"
                   data-target="#nav,html"></a>
            </section>
        </section>
    </section>
</section>
{% block footer_js %}
    {% include "includes/footer_scripts.html" %}
{% endblock %}

</body>
</html>