{% load i18n mezzanine_tags myfilters %}

<h3 class="font-thin">{% trans "最新评论" %}</h3>
{% if settings.COMMENTS_DISQUS_SHORTNAME %}
    <script src="//{{ settings.COMMENTS_DISQUS_SHORTNAME }}.disqus.com/recent_comments_widget.js?num_items={{ settings.COMMENTS_NUM_LATEST }}&hide_avatars=0&avatar_size=32&excerpt_length=200"></script>
{% else %}
    <div class="list-group bg-white list-group-lg no-bg auto">
        {% for comment in comments %}
            <a href="{{ comment.get_absolute_url }}" class="list-group-item clearfix">
                <span class="pull-right h2 text-muted m-l">{{ forloop.counter }}</span>
                <span class="pull-left thumb-sm avatar m-r">
                    <img src="{% my_gravatar_url comment.email %}" , alt="...">
                          </span>
                <span class="clear">
                            <span>对 《{{ comment.content_object|get_meta_title }}》 发表评论：{{ comment.intro }}</span>
                            <small class="text-muted clear text-ellipsis">by {{ comment.user_name }}
                                {% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }}
                                    ago{% endblocktrans %}</small>
                          </span>
            </a>
        {% endfor %}
    </div>
{% endif %}

{##}
{#{% load i18n mezzanine_tags %}#}
{##}
{#<div class="module" id="comments-module">#}
{#    <h2>{% trans "Recent Comments" %}</h2>#}
{#    {% if settings.COMMENTS_DISQUS_SHORTNAME %}#}
{#        <script src="//{{ settings.COMMENTS_DISQUS_SHORTNAME }}.disqus.com/recent_comments_widget.js?num_items={{ settings.COMMENTS_NUM_LATEST }}&hide_avatars=0&avatar_size=32&excerpt_length=200"></script>#}
{#    {% else %}#}
{#        <ul>#}
{#            {% for comment in comments %}#}
{#                <li>#}
{#                    <a href="mailto:{{ comment.email }}">#}
{#                        <img src="{% my_gravatar_url comment.email %}">#}
{#                        {{ comment.user_name }}#}
{#                    </a>#}
{#                    <span>{{ comment.intro }}</span>#}
{#                    <p>#}
{#                        <a href="{{ comment.content_object.get_absolute_url }}">#}
{#                            {{ comment.content_object }}#}
{#                        </a>#}
{#                        &middot;#}
{#                        <a href="{{ comment.get_absolute_url }}">#}
{#                            {% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }}#}
{#                                ago{% endblocktrans %}#}
{#                        </a>#}
{#                    </p>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
{#</div>#}