{% load i18n mezzanine_tags my_comment_tags rating_tags myfilters l10n %}
<ul class="list-group">
    {% for comment in comments_for_thread %}
        <li class="list-group-item">
            <a href="#" class="thumb-sm pull-left m-r-sm">
                <img src="{{ MEDIA_URL }}{% my_gravatar_url comment.email %}" , class="img-circle" alt="...">
            </a>
            <p>说：{{ comment.comment|my_comment_filter }} </p>
            {% localize on %}
                <small class="block text-muted"><i class="fa fa-clock-o"></i>
                    {% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %} by
                    <a
                            href="#" class="text-info">@{{ comment.user_name }}</a>
                </small>
            {% endlocalize %}
            {% if not comment.is_removed and comment.is_public %}
                <a href="#reply-{{ comment.id }}" class="reply">
                    <span class="glyphicon glyphicon-share-alt"></span> {% trans "回复" %}
                </a>
                {% if settings.COMMENTS_USE_RATINGS %}
                    <div class="rating">
                        {% rating_for comment %}
                    </div>
                {% endif %}
                <form class="comment-reply-form" method="post" id="reply-{{ comment.id }}"
                      action="{{ comment_url }}#reply-{{ comment.id }}"
                      {% if replied_to != comment.id %}style="display:none;"{% endif %}>
                    {% if replied_to == comment.id %}
                        {% my_fields_for posted_comment_form %}
                    {% else %}
                        {% my_fields_for unposted_comment_form %}
                    {% endif %}
                    <input type="hidden" name="replied_to" value="{{ comment.id }}">
                    <input class="btn btn-sm btn-success" type="submit" value="{% trans "回复" %}">
                </form>

            {% else %}
                <p>
                    {% if comment.is_removed %}
                        <span class="glyphicon glyphicon-remove-circle"></span> {% trans "Comment deleted" %}
                    {% else %}
                        <span class="glyphicon glyphicon-warning-sign"></span> {% trans "Comment awaiting approval" %}
                    {% endif %}
                    <small class="timespan">{% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }}
                        ago{% endblocktrans %}</small>
                </p>
            {% endif %}
            {% my_comment_thread comment %}
        </li>

    {% endfor %}
</ul>

{% if no_comments %}
    <p>{% trans "目前没有评论" %}</p>
{% endif %}

