{% load blog_tags keyword_tags mezzanine_tags i18n myfilters %}


<aside class="aside-md bg-light dk" id="sidebar">
    <section class="vbox animated fadeInRight">
        <section class="w-f-md scrollable hover">
            {% block blog_categories %}
                {% book_categories as categories %}
                {% if categories %}
                    <h4 class="font-thin m-l-md m-t">目录</h4>
                    <ul class="list-group no-bg no-borders auto m-t-n-xxs">
                        {% for category in categories %}
                            <li class="list-group-item">
                      <span class="pull-left thumb-xs m-t-xs  m-l-xs m-r-sm">
{#                        <img src="{{ category.cover.url }}" alt="...">#}
                          <img src="{{ MEDIA_URL }}{% my_thumbnail category.cover.url 12 12 %}" alt=""
                               class="r r-2x img-full"></a>
                          <i class="on b-light right sm"></i>
                      </span>
                                <a href="/frontend/category/{{ category.slug }}">
                                    <span class="badge pull-right">{{ category.post_count }}</span>
                                    {{ category }}
                                </a>
                                <small class="text-muted">
                                </small>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endblock %}
        </section>
    </section>
</aside>