{% load mezzanine_tags %}

{% editable_loader %}

<script src="{{ STATIC_URL }}firefly/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="{{ STATIC_URL }}firefly/js/bootstrap.js"></script>
<!-- App -->
<script src="{{ STATIC_URL }}firefly/js/app.js"></script>
<script src="{{ STATIC_URL }}firefly/js/slimscroll/jquery.slimscroll.min.js"></script>
<script src="{{ STATIC_URL }}firefly/js/app.plugin.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}firefly/js/jPlayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}firefly/js/jPlayer/add-on/jplayer.playlist.min.js"></script>
{#<script type="text/javascript" src="{{ STATIC_URL }}firefly/js/jPlayer/mydemo.js"></script>#}
{% include "includes/jplayer_scripts.html" %}