{% extends 'layout/login.html' %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li>{{ title }}</li>
{% endblock %}

{% block content %}
    <section id="content" class="m-t-lg wrapper-md animated fadeInUp">


        <div class="container aside-xl">
            <a class="navbar-brand block" href="index.html"><span
                    class="h1 font-bold">{% if settings.SITE_TITLE %}
                {{ settings.SITE_TITLE }}{% endif %}</span></a>
            <section class="m-b-lg">
                <header class="wrapper text-center">
                    {#                    <strong>{{ title }}</strong>#}
                </header>
                {% errors_for form %}

                <form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                    <fieldset>
                        {% fields_for form %}
                        <div class="form-actions">
                            {% block account_form_actions %}
                                <input class="btn btn-lg btn-info btn-block rounded" type="submit" value="{{ title }}">
                            {% endblock %}
                        </div>
                    </fieldset>
                </form>
            </section>
        </div>
    </section>



{% endblock %}
